In [1]:
#Creating Databases in MySQL

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#meKRISH30"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029FF6F600A0>

In [2]:
#cursor for running the MySQL in Python Jupyter Notebook

cursor = mydb.cursor()

In [3]:
#

cursor.execute('SHOW DATABASES')

for database in cursor:
    print(database)

('abc',)
('business',)
('cantilever',)
('games2win',)
('grofers',)
('information_schema',)
('krish',)
('mysql',)
('performance_schema',)
('pharm_easy',)
('sales',)
('sys',)

In [4]:
#

sql= "USE krish"
cursor.execute(sql)

In [5]:
#

sql= "SHOW tables"
cursor.execute(sql)

for database in cursor:
    print(database)

('bt_dept',)

### CONCAT(x,y)

### CONCAT_WS(' ',x,y)

In [6]:
#The CONCAT() function adds two or more expressions together.

sql= "SELECT CONCAT('id', 'name') AS Identity "
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('idname',)

In [7]:
#The CONCAT_WS() function adds two or more expressions together with a separator.

sql= "SELECT CONCAT_WS(' ','id','name') "
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('id name',)

### CHAR_LENGTH()
*  function return the length of a string (in characters).

### CHARACTER_LENGTH()
*  function return the length of a string (in characters).

In [8]:
# CHAR_LENGTH()- function return the length of a string (in characters).

sql= "SELECT CHAR_LENGTH('namexyx')"
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(7,)

In [9]:
# CHARACTER_LENGTH() function return the length of a string (in characters). 

sql= "SELECT CHARACTER_LENGTH('name') "
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(4,)



### INSTR()
* The INSTR() function returns the position of the first occurrence of a string in another string.
#### Syntax-  INSTR(string1, string2)
* string1- The string that will be searched
* string2- The string to search for in string1. If string2 is not found, this function returns 0

### POSITION
* POSITION()- function returns the position of the first occurrence of a substring in a string
* Syntax- POSITION(substring IN string)

### LOCATE()
* The LOCATE() function returns the position of the first occurrence of a substring in a string
* Syntax-LOCATE(substring, string, start)

In [10]:
# INSTR()

sql= "SELECT INSTR('W3Schools.com', '3') AS MatchPosition"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(2,)

In [11]:
# LOCATE()

sql= "SELECT LOCATE('3', 'W3Schools.com') AS MatchPosition"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(2,)

In [12]:
# POSITION()

sql= "SELECT POSITION('3' IN 'W3Schools.com') AS MatchPosition"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(2,)

### INSERT()
* The INSERT() function inserts a string within a string at the specified position and for a certain number of characters.
#### Syntax-  INSERT(string, position, number, string2)
* string- The string that will be modified
* position- The position where to insert string2
* number- The number of characters to replace
* string2- The string to insert into string

### REPLACE()
* The REPLACE() function replaces all occurrences of a substring within a string, with a new substring.
#### Syntax-  REPLACE(string, from_string, new_string)
* string- The original string
* from_string- The substring to be replaced
* new_string- The new replacement substring

In [13]:
# INSERT()- The INSERT() function inserts a string within a string at the specified position and for a certain number of characters

sql= "SELECT INSERT('W3Schools.com', 3, 7, 'Example')"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('W3Example.com',)

In [14]:
# REPLACE()- The REPLACE() function replaces all occurrences of a substring within a string, with a new substring

sql= "SELECT REPLACE('    Krish Bhowmick    ','i','7') AS TrimmedString"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('    Kr7sh Bhowm7ck    ',)

### TRIM()
*  Remove leading and trailing spaces from a string

### RTRIM()
*  Remove trailing spaces from a string

### LTRIM()
*  Remove leading spaces from a string

In [15]:
# TRIM()

sql= "SELECT TRIM('    Krish Bhowmick    ') AS TrimmedString"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('Krish Bhowmick',)

In [16]:
# RTRIM()

sql= "SELECT RTRIM('    Krish Bhowmick    ') AS TrimmedString"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('    Krish Bhowmick',)

In [17]:
# LTRIM()

sql= "SELECT LTRIM('    Krish Bhowmick    ') AS TrimmedString"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('Krish Bhowmick    ',)

### LEFT(string, number_of_chars) 
* Extract x characters from a string (starting from left)

### RIGHT(string, number_of_chars) 
* Extract x characters from a string (starting from right)

### MID()
* The MID() function extracts a substring from a string (starting at any position).
#### Syntax- MID(string, start, length)
* string- The string to extract from
* start- The start position. Can be both a positive or negative number. If it is a positive number, this function extracts from the beginning of the string. If it is a negative number, this function extracts from the end of the string
* length- The number of characters to extract

In [18]:
# LEFT()

sql= "SELECT LEFT('GRO1234',3) as a"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('GRO',)

In [19]:
# RIGHT()

sql= "SELECT RIGHT('GRO1234',4) as a"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('1234',)

In [20]:
# MID()

sql= "SELECT MID('SQLTutorial', -5, 3) AS ExtractString;"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('ori',)

### SUBSTRING()
* The SUBSTRING() function extracts a substring from a string (starting at any position).
#### Syntax- SUBSTRING(string, start, length)
* string- The string to extract from
* start- The start position. Can be both a positive or negative number. If it is a positive number, this function extracts from the beginning of the string. If it is a negative number, this function extracts from the end of the string
* length- The number of characters to extract. If omitted, the whole string will be returned (from the start position)

### SUBSTR()
* The SUBSTR() function extracts a substring from a string (starting at any position)
#### SUBSTR(string, start, length)    OR    SUBSTR(string FROM start FOR length)
* string- The string to extract from
* start- The start position. Can be both a positive or negative number. If it is a positive number, this function extracts from the beginning of the string. If it is a negative number, this function extracts from the end of the string
* length- The number of characters to extract. If omitted, the whole string will be returned (from the start position)

### SUBSTRING_INDEX()
* The SUBSTRING_INDEX() function returns a substring of a string before a specified number of delimiter occurs.
#### Syntax-  SUBSTRING_INDEX(string, delimiter, number)
* string- The original string
* delimiter- The delimiter to search for
* number- The number of times to search for the delimiter. Can be both a positive or negative number. If it is a positive number, this function returns all to the left of the delimiter. If it is a negative number, this function returns all to the right of the delimiter.

In [21]:
# SUBSTRING()

sql= "SELECT substring('GRO1234',4,4) as a"  # 
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('1234',)

In [22]:
# SUBSTR()

sql= "SELECT SUBSTR('SQLTutorial', 4,8) AS ExtractString;"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('Tutorial',)

In [23]:
# SUBSTR()

sql= "SELECT SUBSTR('SQL Tutorial', -5, 3) AS ExtractString;"
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('ori',)

In [24]:
# SUBSTRING_INDEX()

sql= "SELECT SUBSTRING_INDEX('www.w3schools.com', '.', -2)"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('w3schools.com',)

### LCASE() 
* Convert the text to lower-case

### LOWER()
* Convert the text to lower-case

### UCASE()
* Convert the text to upper-case

### UPPER()
* Convert the text to upper-case

In [25]:
# LCASE()

sql= "SELECT LCASE('My Name is Krish Bhowmick') AS aa"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('my name is krish bhowmick',)

In [26]:
# LOWER()

sql= "SELECT LOWER('My Name is Krish Bhowmick') AS aa"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('my name is krish bhowmick',)

In [27]:
# UCASE()

sql= "SELECT UCASE('My Name is Krish Bhowmick') AS aa"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('MY NAME IS KRISH BHOWMICK',)

In [28]:
# UPPER()

sql= "SELECT UPPER('My Name is Krish Bhowmick') AS aa"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('MY NAME IS KRISH BHOWMICK',)

### RPAD()
* The RPAD() function right-pads a string with another string, to a certain length.
#### Syntax- RPAD(string, length, rpad_string)
* string-	Required. The original string. If the length of the original string is larger than the length parameter, this function removes the overfloating characters from string
* length-	Required. The length of the string after it has been right-padded
* rpad_string-	Required. The string to right-pad to string

### LPAD()
* the LPAD() function left-pads a string with another string, to a certain length.
#### Syntax- LPAD(string, length, lpad_string)
* string- The original string. If the length of the original string is larger than the length parameter, this function removes the overfloating characters from string
* length- The length of the string after it has been left-padded
* lpad_string- The string to left-pad to string

### REVERSE(x)-   
* Reverses a string and returns the result

In [29]:
# RPAD()

sql= "SELECT RPAD('SQL Tutorial', 20, '-') "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('SQL Tutorial--------',)

In [30]:
# LPAD()

sql= "SELECT LPAD('SQL Tutorial', 20, '-')"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('--------SQL Tutorial',)

In [31]:
# REVERSE()

sql= "SELECT REVERSE('MY NAME IS KRISHNENDU BHOWMICK')"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('KCIMWOHB UDNENHSIRK SI EMAN YM',)

In [32]:
# ASCII()- The ASCII() function returns the ASCII value for the specific character.

sql= "SELECT ASCII('aaf')"
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(97,)