In [1]:
#Creating Databases in MySQL

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#meKRISH30"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000125165890A0>

In [2]:
#cursor for running the MySQL in Python Jupyter Notebook

cursor = mydb.cursor()

In [3]:
#

cursor.execute('SHOW DATABASES')

for database in cursor:
    print(database)

('abc',)
('business',)
('cantilever',)
('games2win',)
('grofers',)
('information_schema',)
('krish',)
('mysql',)
('performance_schema',)
('pharm_easy',)
('sales',)
('sys',)

In [4]:
#

sql= "USE krish"
cursor.execute(sql)

In [5]:
#

sql= "SHOW tables"
cursor.execute(sql)

for database in cursor:
    print(database)

('bt_dept',)

In [6]:
# sql_mode=only_full_group_by

sql= "SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''))"
cursor.execute(sql)
mydb.commit()

# CASE
* The CASE statement goes through conditions and return a value when the first condition is met (like an IF-THEN-ELSE statement). So, once a condition is true, it will stop reading and return the result.
* If no conditions are true, it will return the value in the ELSE clause.
* If there is no ELSE part and no conditions are true, it returns NULL.
#### Syntax
* CASE
*     WHEN condition1 THEN result1
*     WHEN condition2 THEN result2
*     WHEN conditionN THEN resultN
*     ELSE result
* END;

# CAST()
* The CAST() function converts a value (of any type) into the specified datatype.
#### Value	Description
* DATE-	Converts value to DATE. Format: "YYYY-MM-DD"
* DATETIME-	Converts value to DATETIME. Format: "YYYY-MM-DD HH:MM:SS"
* DECIMAL-	Converts value to DECIMAL. Use the optional M and D parameters to specify the maximum number of digits (M) and the number of digits following the decimal point (D).
* TIME-	Converts value to TIME. Format: "HH:MM:SS"
* CHAR-	Converts value to CHAR (a fixed length string)
* NCHAR-	Converts value to NCHAR (like CHAR, but produces a string with the national character set)
* SIGNED-	Converts value to SIGNED (a signed 64-bit integer)
* UNSIGNED-	Converts value to UNSIGNED (an unsigned 64-bit integer)
* BINARY-	Converts value to BINARY (a binary string)

# CONVERT()
* The CONVERT() function converts a value into the specified datatype or character set.

#### Value	Description
* DATE	Converts value to DATE. Format: "YYYY-MM-DD"
* DATETIME	Converts value to DATETIME. Format: "YYYY-MM-DD HH:MM:SS"
* DECIMAL	Converts value to DECIMAL. Use the optional M and D parameters to specify the maximum number of digits (M) and the number of digits following the decimal point (D).
* TIME	Converts value to TIME. Format: "HH:MM:SS"
* CHAR	Converts value to CHAR (a fixed length string)
* NCHAR	Converts value to NCHAR (like CHAR, but produces a string with the national character set)
* SIGNED	Converts value to SIGNED (a signed 64-bit integer)
* UNSIGNED	Converts value to UNSIGNED (an unsigned 64-bit integer)
* BINARY	Converts value to BINARY (a binary string)

# IF()
* The IF() function returns a value if a condition is TRUE, or another value if a condition is FALSE.
#### Syntax
* IF(condition, value_if_true, value_if_false)

In [7]:
# IF()

sql= "SELECT IF(500<1000, 'YES', 'NO')"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('YES',)