In [1]:
#Creating Databases in MySQL

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#meKRISH30"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000251DE009490>

In [2]:
#cursor for running the MySQL in Python Jupyter Notebook

cursor = mydb.cursor()

In [3]:
#

cursor.execute('SHOW DATABASES')

for database in cursor:
    print(database)

('abc',)
('business',)
('cantilever',)
('games2win',)
('grofers',)
('information_schema',)
('krish',)
('mysql',)
('performance_schema',)
('pharm_easy',)
('sales',)
('sys',)

In [4]:
#

sql= "USE grofers"
cursor.execute(sql)

In [5]:
#

sql= "SHOW tables"
cursor.execute(sql)

for database in cursor:
    print(database)

('table1',)
('table2',)
('table3',)

In [6]:
# sql_mode=only_full_group_by

sql= "SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''))"
cursor.execute(sql)
mydb.commit()

### MIN(X)-
### MAX(X)-
### AVG(X)-
### SUM(X)-
### COUNT(X)-

In [7]:
#

sql= "select min(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('10',)

In [8]:
# 

sql= "select MAX(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

('45.5',)

In [9]:
# 

sql= "select AVG(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(29.1,)

In [10]:
# 

sql= "select SUM(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(145.5,)

In [11]:
# 

sql= "select COUNT(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(5,)

### SQRT()- quare root(25->5)
### POWER(X,Y)- (4,3 ->64)
### EXP()- Exponsial
### LOG()-
### LOG10()-

In [12]:
# SQRT()-- Square Root

sql= "select SQRT(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(3.1622776601683795,)
(4.47213595499958,)
(5.477225575051661,)
(6.324555320336759,)
(6.745368781616021,)

In [13]:
# power-

sql= "select POWER(Marks,2) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(100.0,)
(400.0,)
(900.0,)
(1600.0,)
(2070.25,)

In [14]:
# Exponsial

sql= "select EXP(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(22026.465794806718,)
(485165195.4097903,)
(10686474581524.463,)
(2.3538526683702e+17,)
(5.759687576887954e+19,)

In [15]:
# LOGARITHM-

sql= "select LOG(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(2.302585092994046,)
(2.995732273553991,)
(3.4011973816621555,)
(3.6888794541139363,)
(3.817712325956905,)

In [16]:
# LOGARITHM-

sql= "select LOG10(Marks) from table1"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(1.0,)
(1.3010299956639813,)
(1.4771212547196624,)
(1.6020599913279623,)
(1.6580113966571124,)

### ROUND (X,Y)- (20.4-->20),(20.9-->21),(20.891,1-->20.9)

### TRUNCATE (X,Y)-- (20.983,1-->20.9)
*  Return a number truncated to y decimal places

### FLOOR(x)-- (2.9->3)
*  Return the largest integer value that is less than or equal to x

### CEIL(x)-- (2.9->3)
*  Return the smallest integer value that is greater than or equal to that value

### CEILING()-- (2.9->3)
* Return the smallest integer value that is greater than or equal to

### (x DIV y)- 
* DIV function is used for integer division (x is divided by y). An integer value is returned.

### MOD(x,y)- 
* Return the remainder of (xy)

In [17]:
# ROUND

sql= "select ROUND('3.4565789,2') "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(3.0,)

In [18]:
# TRUNCATE

sql= "select TRUNCATE(4.5678,2) "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(Decimal('4.56'),)

In [19]:
# FLOOR

sql= "select FLOOR(5.3456) "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(5,)

In [20]:
# CEIL(x)--Return the smallest integer value that is greater than or equal to that value

sql= "select CEIL(4.23) "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(5,)

In [21]:
# CEILING()--Return the smallest integer value that is greater than or equal to

sql= "select CEILING(45.65) "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(46,)

In [22]:
# (x DIV y)-DIV function is used for integer division (x is divided by y). An integer value is returned.

sql= "select (Marks DIV 2) from table1 "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(5,)
(10,)
(15,)
(20,)
(22,)

In [23]:
# MOD(x,y)- Return the remainder of (xy)

sql= "select MOD(Marks,2) from table1 "  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(0.0,)
(0.0,)
(0.0,)
(0.0,)
(1.5,)

In [24]:
# ABS()- Return the absolute value of a number:
# 

sql= "SELECT ABS(-243.5)"  
cursor.execute(sql)
myresult= cursor.fetchall() 

for x in myresult:
  print(x)

(Decimal('243.5'),)