<a href="https://colab.research.google.com/github/krishbhowmick/MySQL_With_Python/blob/main/Python_MySQL_1_1_Health_Insurance_Marketplace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


DatasetLink- https://www.kaggle.com/hhs/health-insurance-marketplace?select=Crosswalk2016.csv

The Health Insurance Marketplace Public Use Files contain data on health and dental plans offered to individuals and small businesses through the US Health Insurance Marketplace.



### **Exploration Ideas**
To help get you started, here are some data exploration ideas:

**How do plan, rates and benefits vary across states?**

**How do plan and benefits relate to plan rates?**

**How do plan and rates vary by age?**

**How do plans vary across insurance network providers?**

See this forum thread for more ideas, and post there if you want to add your own ideas or answer some of the open questions!

### **Data Description**
This data was originally prepared and released by the Centers for Medicare & Medicaid Services (CMS). Please read the CMS Disclaimer-User Agreement before using this data.

Here, we've processed the data to facilitate analytics. This processed version has three components:

1. Original versions of the data
The original versions of the 2014, 2015, 2016 data are available in the "raw" directory of the download and "../input/raw" on Kaggle Scripts. Search for "dictionaries" on this page to find the data dictionaries describing the individual raw files.

2. Combined CSV files that contain
In the top level directory of the download ("../input" on Kaggle Scripts), there are six CSV files that contain the combined at across all years:

BenefitsCostSharing.csv
BusinessRules.csv
Network.csv
PlanAttributes.csv
Rate.csv
ServiceArea.csv
Additionally, there are two CSV files that facilitate joining data across years:

Crosswalk2015.csv - joining 2014 and 2015 data
Crosswalk2016.csv - joining 2015 and 2016 data
### **3. SQLite database**
The "database.sqlite" file contains tables corresponding to each of the processed CSV files.

The code to create the processed version of this data is available on GitHub.

# **Architectural Difference â€“ SQLite vs MySQL**
* SQLite is an open source project available in the public domain. MySQL is an open source project which is owned by Oracle
* SQLite is a server-less database and is self-contained. This is also referred to as an embedded database which means the DB engine runs as a part of the app.
* On the other hand, MySQL requires a server to run. MySQL will require a client and server architecture to interact over a network.

Kaggle Dataset- https://www.kaggle.com/cms/cms-medicare

In [ ]:
# Connect the google drive with google Colab

from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
# Import Libraries

import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sb

In [ ]:
# Import Data

path = '/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/BenefitsCostSharing.csv'  # ADD path/to/dataset
data = pd.read_csv(path)                                                      # Read the data
print("Shape of the data is- ",data.shape)                                  # Show shape of the data

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,6,9,10,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Shape of the data is-  (5048408, 32)

In [ ]:
print("Head of the data is- ", data.head() )                              # Print the first 5 rows of Dataset

Head of the data is-                         BenefitName  BusinessYear  ... StateCode2 VersionNum
0  Routine Dental Services (Adult)          2014  ...         AK          6
1     Dental Check-Up for Children          2014  ...         AK          6
2        Basic Dental Care - Child          2014  ...         AK          6
3              Orthodontia - Child          2014  ...         AK          6
4        Major Dental Care - Child          2014  ...         AK          6

[5 rows x 32 columns]

In [ ]:
print("Describe the dataset- ",data.describe(include='all'))

Describe the dataset-                  BenefitName  BusinessYear  ... StateCode2    VersionNum
count               5048408  5.048408e+06  ...    5048408  5.048408e+06
unique                  861           NaN  ...         39           NaN
top     Orthodontia - Adult           NaN  ...         WI           NaN
freq                  77377           NaN  ...     512587           NaN
mean                    NaN  2.015127e+03  ...        NaN  7.637094e+00
std                     NaN  7.563664e-01  ...        NaN  3.803627e+00
min                     NaN  2.014000e+03  ...        NaN  1.000000e+00
25%                     NaN  2.015000e+03  ...        NaN  5.000000e+00
50%                     NaN  2.015000e+03  ...        NaN  7.000000e+00
75%                     NaN  2.016000e+03  ...        NaN  9.000000e+00
max                     NaN  2.016000e+03  ...        NaN  2.400000e+01

[11 rows x 32 columns]

In [ ]:
temp = pd.DataFrame(index=data.columns)                             # Create DataFrame
temp['data_type'] = data.dtypes                                     # Show data type
temp['null_count'] = data.isnull().sum()                            #checking missing values in the data
temp['unique_count'] = data.nunique()                               #checking unique values in the data 
temp

                    data_type  null_count  unique_count
BenefitName            object           0           861
BusinessYear            int64           0             3
CoinsInnTier1          object     1113847           115
CoinsInnTier2          object     4571587            37
CoinsOutofNet          object     1113847            60
CopayInnTier1          object     1113847           516
CopayInnTier2          object     4571587           278
CopayOutofNet          object     1113849           232
EHBVarReason           object     3020737            12
Exclusions             object     4572247          1720
Explanation            object     4075700          6227
ImportDate             object           0           266
IsCovered              object      215980             3
IsEHB                  object     1817362             1
IsExclFromInnMOOP      object      983986             5
IsExclFromOonMOOP      object      982626             4
IsStateMandate         object     4250463             1
IsSubjToDedTier1       object     2465877             5
IsSubjToDedTier2       object     2466054             4
IssuerId                int64           0           910
IssuerId2               int64           0           910
LimitQty              float64     4360725            94
LimitUnit              object     4360539            88
MinimumStay           float64     5031681             3
PlanId                 object           0         52394
QuantLimitOnSvc        object     3264532             5
RowNumber               int64           0            96
SourceName             object           0             3
StandardComponentId    object           0         16807
StateCode              object           0            39
StateCode2             object           0            39
VersionNum              int64           0            23

In [ ]:
# Import Data

path1 = '/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/Rate.csv'  # ADD path/to/dataset
data1 = pd.read_csv(path1)                                                      # Read the data
print("Shape of the data is- ",data1.shape)                                  # Show shape of the data

Shape of the data is-  (12694445, 24)

In [ ]:
print("Head of the data is- ", data1.head() )

Head of the data is-     BusinessYear StateCode  ...  CoupleAndThreeOrMoreDependents RowNumber
0          2014        AK  ...                             NaN        14
1          2014        AK  ...                          144.56        14
2          2014        AK  ...                          144.56        15
3          2014        AK  ...                             NaN        15
4          2014        AK  ...                             NaN        16

[5 rows x 24 columns]

In [ ]:
print("Describe the dataset- ",data1.describe(include='all'))

Describe the dataset-          BusinessYear StateCode  ...  CoupleAndThreeOrMoreDependents     RowNumber
count   1.269444e+07  12694445  ...                    40941.000000  1.269444e+07
unique           NaN        39  ...                             NaN           NaN
top              NaN        FL  ...                             NaN           NaN
freq             NaN   1702472  ...                             NaN           NaN
mean    2.015034e+03       NaN  ...                      107.807774  6.348572e+03
std     7.940521e-01       NaN  ...                       73.241174  9.011435e+03
min     2.014000e+03       NaN  ...                        0.000000  1.400000e+01
25%     2.014000e+03       NaN  ...                       29.490000  8.730000e+02
50%     2.015000e+03       NaN  ...                      116.710000  2.728000e+03
75%     2.016000e+03       NaN  ...                      167.960000  7.577000e+03
max     2.016000e+03       NaN  ...                      449.140000  6.349300e+04

[11 rows x 24 columns]

In [ ]:
temp = pd.DataFrame(index=data1.columns)                             # Create DataFrame
temp['data_type'] = data1.dtypes                                     # Show data type
temp['null_count'] = data1.isnull().sum()                            #checking missing values in the data
temp['unique_count'] = data1.nunique()                               #checking unique values in the data 
temp

                                          data_type  null_count  unique_count
BusinessYear                                  int64           0             3
StateCode                                    object           0            39
IssuerId                                      int64           0           910
SourceName                                   object           0             3
VersionNum                                    int64           0            23
ImportDate                                   object           0           266
IssuerId2                                     int64           0           910
FederalTIN                                   object           0           335
RateEffectiveDate                            object           0            14
RateExpirationDate                           object           0            26
PlanId                                       object           0         16808
RatingAreaId                                 object           0            67
Tobacco                                      object           0             2
Age                                          object           0            47
IndividualRate                              float64           0        149181
IndividualTobaccoRate                       float64     7762096        153930
Couple                                      float64    12653504          5533
PrimarySubscriberAndOneDependent            float64    12653504          5974
PrimarySubscriberAndTwoDependents           float64    12653504          7047
PrimarySubscriberAndThreeOrMoreDependents   float64    12653504          7632
CoupleAndOneDependent                       float64    12653504          7268
CoupleAndTwoDependents                      float64    12653504          7733
CoupleAndThreeOrMoreDependents              float64    12653504          8197
RowNumber                                     int64           0         60444

In [ ]:
/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/BusinessRules.csv
/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/Crosswalk2015.csv
/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/Crosswalk2016.csv
/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/Network.csv
/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/PlanAttributes.csv

/content/drive/MyDrive/DataScience_DataSet/Healthcare Data/ServiceArea.csv